<h2>Edit this Celeb</h2>

<form action="/celebrities/{{celebrity.id}}" method="POST">
  <input type="text" placeholder="{{celebrity.name}}" name="name" value="{{celebrity.name}}">
  <input type="text" placeholder="{{celebrity.occupation}}" name="occupation" value="{{celebrity.occupation}}">
  <input type="text" placeholder="{{celebrity.catchPhrase}}" name="catchPhrase" value="{{celebrity.catchPhrase}}">
  <button>Edit</button>
</form> 


